Magnus Wamby <wamby@student.chalmers.se> 
Magnus Wamby <skallen640@gmail.com>

Rikard Teodorsson <rikardt@student.chalmers.se>
Rikard Teodorsson <hej2010@users.noreply.github.com>

Farzad Besherati <farmerfaz@gmail.com>
Farzad Besherati <farzadb@student.chalmers.se>

Gustav Lahti <gustav.lahti@gmail.com>
Gustav Lahti <LatteG@users.noreply.github.com> 


